@{
    /**/

    ViewBag.Header = "Change Password";
    ViewBag.HeaderDescription = "";
    ViewBag.Title = "Change Password | PMS";

}




<div class="box box-danger">

    <div class="box-header with-border">
    </div>
    <!-- /.box-header -->
    <!-- form start -->

        <div class="box-body">
            <div class="Alert-Ajax-Response hide">
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="closeErrorButton close">×</button>
                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                    <span id="error"></span>
                </div>
            </div>
            @if (ViewBag.error != null)
            {
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                    @ViewBag.error
                </div>
            }
            <div class="Alert-Success-Response hide">
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>
                    <span id="success"></span>
                </div>
            </div>
            @if (ViewBag.success != null)
            {
                <div class="alert alert-success alert-dismissible" id="alert-success-fun">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>
                    @ViewBag.success
                </div>
            }



            @Html.Partial("_ChangePasswordPartial")
        </div>
        <!-- /.box-body -->



</div>