
@{
    ViewBag.Header = "Error";
    ViewBag.HeaderDescription = "Unauthorized";
    ViewBag.Title = "Error - Unauthorized | PMS";
}

@section styles{

}


<section class="content">

    <div class="error-page">
        <h2 class="headline text-red" style="width:100%;">401</h2>

        <div class="error-content" style="width:100%;margin-left:0px;">
            <h3 ><i class="fa fa-warning text-red"></i> Oops! Something went wrong.</h3>

            <p>
                You are not authorized to access this page.
            </p>
        </div>
    </div>
    <!-- /.error-page -->

</section>


@section scripts{
    
}