<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="10.1.1" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="FirebaseAdmin" version="3.4.0" targetFramework="net472" />
  <package id="Google.Api.Gax" version="4.11.1" targetFramework="net472" />
  <package id="Google.Api.Gax.Rest" version="4.11.1" targetFramework="net472" />
  <package id="Google.Apis" version="1.71.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.71.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.71.0" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net472" />
  <package id="itextsharp.xmlworker" version="5.5.13.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.20710.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Ninject" version="3.3.4" targetFramework="net472" />
  <package id="NReco.PdfGenerator" version="1.2.1" targetFramework="net472" />
  <package id="RestSharp" version="110.2.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="9.0.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.2" targetFramework="net472" />
  <package id="System.Management" version="7.0.2" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="9.0.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="7.0.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net472" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net472" />
</packages>