/packages
/PMS/obj
/PMS/bin
/PMS.Common/obj
/PMS.Common/bin
/PMS.DTO/obj
/PMS.DTO/bin
/PMS.EF/.vs
/PMS.EF/bin
/PMS.EF/obj
/PMS.QuartzJob/obj
/PMS.QuartzJob/bin
/PMS.Repository/obj
/PMS.Repository/bin
/PMS.Services/.vs
/PMS.Services/bin
/PMS.Services/obj
/PMS.StudentApi/obj
/PMS.StudentApi/bin
/.vs/PMS/config
/.vs/PMS
/PMS/.vs
/PMS.StudentApi/.vs
*.xlsx
*.xlsx
/PMS/Upload/Files/[20_May_2026]_[15_18_01]_TestExcel.xlsx
/docs
