<html>
<head>

    <style>

        ul {
            display: inline-flex;
        }

        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
            background-color: white;
        }

        body {
            font-family: 'Lato', sans-serif;
        }

        img {
            max-width: 100%;
        }

        a {
            text-decoration: none;
            word-break: break-all;
            word-break: break-word;
            hyphens: auto;
        }

            a:hover {
                color: #175b98;
            }

        p {
            margin-left: 10px;
            margin-right: 10px;
            font-size: 14px;
        }

        h3 {
            margin-left: 10px;
            margin-right: 10px;
        }

        /*h3:after {
                content: '';
                background: #c20e1a;
                width: 85px;
                height: 5px;
                display: block;
                margin-top: 10px;
            }*/

    </style>
</head>
<body bgcolor="#ffffff" style="font-size: 14px; background-color: rgb(255, 255, 255); margin: 0px; padding: 0px; -webkit-font-smoothing: antialiased; width: 100%; text-size-adjust: none; opacity: 1; visibility: visible; animation: 0s ease 0s 1 normal none running none;" topmargin="0" class="amp-mode-mouse">
    <table bgcolor="#f5f5f5" style="background-color:#ffffff;min-width:350px" align="center" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="max-width:600px; background: #f4f4f4; padding:30px;">
                        <tbody>
                            <tr>
                                <td>
                                    <table bgcolor="#f4f4f4" align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td style="background-color:white;padding:0px; text-align:center;"><a href="#"><img src="https://www.themyriad.com/Assets/images/EmailTemplate/TMM168x44.png" style="margin-top:20px ;margin-bottom:10px "></a></td>
                                            </tr>
                                            <tr>
                                                <td style="background-color:white;padding:0px; text-align:center;"><a href="#"><img src="https://www.themyriad.com/Assets/images/EmailTemplate/TMMBannerResized.png" style="width: 100% ; padding-top:30px ;" height="185" width="550"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="100%" bgcolor="white" align="center" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr align="left">
                                                <td style="width: 100%"><h3 style="font-size: 16px;text-transform:uppercase; font-weight: 900;color: black;margin-top: 30px;margin-bottom: 0px;">Room Reservation</h3><p style="border-top: 5px solid #c20e1a;width: 100px;font-size: 3px;"></p></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="100%" bgcolor="white" align="center" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr align="left">
                                                <td style="width: 100%">
                                                    <p style="margin-top: 15px;"> Thank you for choosing The Myriad Muscat. We look forward to welcoming you. </p>
													<p>Your booking confirmation number is <span style="color:#c20e1a;font-weight: 600;">_booking_number</span>.</p>
													<p>Your payment reference number is <span style="color:#c20e1a;font-weight: 600;">_reference_number</span>.</p>
													<p>Your card number is <span style="color:#c20e1a;font-weight: 600;">_card_number</span>.</p>
                                                  <p>Your paid amount is <span style="color:#c20e1a;font-weight: 600;">_paid_amount</span>.</p>
                                                    <p></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr style="background-color:white;overflow-wrap: break-word;">
                                <td>
                                    <hr>
                                    <table style="width:100%;padding: 0px 10px 0px 10px;font-size: 14px;">
                                        <tbody>
                                            <tr>
                                                <th style="text-align:left;min-width:50%;">ROOM</th>
                                                <th style="text-align:left;min-width:50%;">DETAILS</th>

                                            </tr>
                                            <tr style="
    vertical-align: top;
">
                                                <td>_room</td>
                                                <td>_name</td>

                                            </tr>
                                            <tr style="
    vertical-align: top;
">
                                                <td></td>
                                                <td style="overflow-wrap:anywhere;">_email</td>

                                            </tr>
                                            <tr style="
    vertical-align: top;
">
                                                <td></td>
                                                <td>_phone</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr style="background-color:white;overflow-wrap: break-word;">
                                <td>
                                    <hr>
                                    <table style="width:100%;padding: 0px 10px 0px 10px;font-size: 14px;">
                                        <tbody>
                                            <tr>
                                                <th style="text-align:left;min-width:50%;">COMMITMENT</th>
                                                <th style="text-align:left;min-width:50%;">CHECK IN</th>

                                            </tr>
                                            <tr style="
    vertical-align: top;
">
                                                <td>_Commitment</td>
                                                <td>_CheckIn</td>

                                            </tr>


                                        </tbody>
                                    </table>
                                </td>
                            </tr>

  <tr style="background-color:white;overflow-wrap: break-word;">
                                <td>
                                    <hr>
                                    <table style="width:100%;padding: 0px 10px 0px 10px;font-size: 14px;">
                                        <tbody>
                                            <tr>
                                                <th style="text-align:left;min-width:50%;">PAYMENT</th>
                                                
                                            </tr>
                                            <tr style="
    vertical-align: top;
">
                                                <td>Rent <span style="font-size: 11px;">(Pay at property)</span></td>
                                                <td style="
    text-align: left;
    padding-right: 10px;
">
                                                    _per_month_amount
                                                </td>
                                               
                                            </tr>
                                           
                                          
                                        </tbody>
                                    </table>
                                    <hr>
                                </td>
                            </tr>



                          
                            <tr>
                                <td>
                                    <table width="100%" align="center" bgcolor="white">
                                        <tbody>
                                            <tr>
                                                <th width="50%"></th>
                                                <th width="10%"></th>
                                                <th width="10%"></th>
                                                <th width="10%"></th>
                                                <th width="10%"></th>
                                                <th width="10%"></th>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 13px;line-height:16px;text-align: left;color: #484848;">
                                                    <p style="margin-bottom: 0px;">For any further information</p>
                                                    <p style="margin-top: 0px;margin-bottom: 0px;"><a href="mailto:info@themyriad.com" style="font-size: 13px;color: #484848; text-decoration: none;"><b>info@themyriad.com</b></a></p>
                                                    <p style="margin-top: 0px;"><b>800MYRIAD (697423)</b></p>
                                                </td>
                                                <td><a href="https://www.facebook.com/themyriaddubai"><img src="https://www.themyriad.com/Assets/images/EmailTemplate/facebook.png" alt="facebook" style="display: block;width: 60%;"></a></td>
                                                <td><a href="https://twitter.com/themyriaddubai"><img src="https://www.themyriad.com/Assets/images/EmailTemplate/instagram.png" alt="twitter" style="display: block;width: 60%;"></a></td>
                                                <td><a href="https://www.instagram.com/themyriaddubai"><img src="https://www.themyriad.com/Assets/images/EmailTemplate/linkedin.png" alt="instagram" style="display: block;width: 60%;"></a></td>
                                                <td><a href="https://www.linkedin.com/company/the-myriad1/"><img src="https://www.themyriad.com/Assets/images/EmailTemplate/twiter.png" alt="linkedin" style="display: block;width: 60%;"></a></td>
                                                <td><a href="https://www.youtube.com/channel/UCjoN9RqsnrpjTsafMfaDzhg?view_as=subscriber"><img src="https://www.themyriad.com/Assets/images/EmailTemplate/youtube.png" alt="youtube" style="display: block;width: 60%;"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="100%" align="center" bgcolor="" style="margin-top: 5px;">
                                        <tbody>
                                            <tr>
                                                <td style="font-size: 13px;line-height:16px;text-align: left;color: #484848;">
                                                    <p style="
    margin-bottom: 0px;
    font-size: 12px;
">© 2020 The Myriad. All Rights Reserved.</p>
                                                    <p style="
    margin-bottom: 10px;
    font-size: 12px;
    margin-top: 0px;
">A Member of<a href="http://www.strategichousinggroup.com/" target="_blank" ga-on="click"> Strategic Housing Group</a></p>
                                                </td>
                                                <td style="
									font-size: 13px;
									line-height:16px;
									text-align: right;
									color: #484848;
									vertical-align: top;
									">
                                                    <p style="
    margin-bottom: 10px;
    font-size: 12px;
">Visit our website:<a href="https://www.themyriad.com" target="_blank" ga-on="click"> TheMyriad.com</a></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>










</body>
</html>