<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="intuit">
			<section name="ipp" type="Intuit.Ipp.Utility.IppConfigurationSection, Intuit.Ipp.Utility" allowDefinition="Everywhere" allowLocation="true" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-PMS-20201228123922.mdf;Initial Catalog=aspnet-PMS-20201228123922;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
		<!--<add name="PMSEntities" connectionString="metadata=res://*/PMS.csdl|res://*/PMS.ssdl|res://*/PMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=70.35.194.167;initial catalog=PMS;persist security info=True;user id=sa;password=L@hore123$$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

		<!--<add name="PMSEntities" connectionString="metadata=res://*/PMS.csdl|res://*/PMS.ssdl|res://*/PMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NBTLP-017;initial catalog=PMS-Invoice-Exp-22-APRIL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--<add name="PMSEntities" connectionString="metadata=res://*/PMS.csdl|res://*/PMS.ssdl|res://*/PMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NBTLP-017;initial catalog=PMS-Fee-Assessment;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--<add name="PMS_17JanConnectionString" connectionString="Data Source=ZAINULABIDEEN;Initial Catalog=PMS-17Jan;Integrated Security=True" providerName="System.Data.SqlClient" />-->
		<add name="PMSEntities" connectionString="metadata=res://*/PMS.csdl|res://*/PMS.ssdl|res://*/PMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=PMS;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!--uploaded Images Url-->
		<add key="UploadedImages" value="http://localhost:54589" />
		<add key="BaseUrl" value="http://localhost:54589/" />
		<!-- Set this to your public HTTPS tunnel URL for payment callback testing, e.g. https://abc123.ngrok-free.app -->
		<add key="PaymentGatewayBaseUrl" value="https://circling-mutate-imprison.ngrok-free.dev" />
		<add key="CornExpression" value="0 0/2 * * * ?" />
		<add key="CronExpressionForEmails" value="0 0/1 * 1/1 * ? *" />

		<!--QuickBooks Localhost-->
		<add key="clientid" value="ABuyfiFN9AZyOWqQkNigd42kr9zcmrTcAPi077WKkHJ6QUDgqh" />
		<add key="clientsecret" value="59qxbzCGs9NucY8TzvnqeAdNFZnukvfNBBhKzq6R" />
		<add key="realmId" value="4620816365301180960" />
		<add key="appEnvironment" value="sandbox" />
		<add key="redirectUrl" value="http://localhost:54589/QBAHelper" />

		<!--QuickBooks UAT-->
		<!--<add key="clientid" value="ABZcAqRxttzbtEKAtz0iL3F24ZPgchklonn2C0LCowYsrixoKf" />
		<add key="clientsecret" value="yzdXCtdLHJputvWrsz4BUb4rahQ2uMzb6iLWLKWS" />
		<add key="realmId" value="4620816365303557380" />
		<add key="appEnvironment" value="sandbox" />
		<add key="redirectUrl" value="http://themyriad.com:8020/QBAHelper" />-->

		<!-- ZohoBooks Localhost-->
		<add key="zohoClientId" value="1000.2UEDMZVNO8W9BTCK21X9RYU4TL21JK" />
		<add key="zohoClientSecret" value="9eaa99be0acaa4e3041957158001fb53a11a91f429" />
		<add key="zohoRedirectUrl" value="http://localhost:54589/Zoho/ProcessZohoCallback" />
		<add key="zohoOrganizationId" value="810657927" />

		<!-- ZohoBooks UAT-->
		<!--<add key="zohoClientId" value="1000.L4P6L2FLQD7IOIQP34GEL5RBE0G6FM" />
		<add key="zohoClientSecret" value="aeaaa18d7879d0d5218a8d34aa76d40dd101610024" />
		<add key="zohoRedirectUrl" value="http://themyriad.com:8020/Zoho/ProcessZohoCallback" />
		<add key="zohoOrganizationId" value="812478642" />-->

		<!-- Sciener TT Lock UAT-->
		<add key="scienerClientId" value="4c8c6eda01644b55b4e02ac7679eb976" />
		<add key="scienerClientSecret" value="69713946190b3c114e4305f942c79ff7" />
		<add key="scienerUsername" value="h_1729164202836" />
		<add key="scienerPassword" value="943eda35da8b5196e236e2d92cbc3944" />
		<!--<add key="scienerCallBackUrl" value="http://localhost:54589/Zoho/ProcessZohoCallback" />-->

		<!--InHouse By University Report-->
		<add key="DefaultUniversityId" value="177" />
		<add key="DefaultCheckoutStatus" value="2" />

		<!-- Firebase Admin SDK -->
		<add key="FirebaseCredentialPath" value="~/FireBase/themyriad-913f0-firebase-adminsdk-fbsvc-068f2d610f.json" />

		<!-- Student mobile API bearer token -->
		<add key="StudentAuth:Key" value="themyriad-student-mobile-auth-key-change-in-production" />
		<add key="StudentAuth:ExpireMinutes" value="43200" />

		<!-- Online Booking User Configuration -->
		<add key="OnlineBookingUserEmail" value="TMDOnlineBookings@themyriad.com" />
	</appSettings>
	<intuit>
		<ipp>
			<service>
				<!-- Sandbox-->
				<baseUrl qbo="https://sandbox-quickbooks.api.intuit.com/" />
				<!--Prod-->
				<!--<baseUrl qbo="https://quickbooks.api.intuit.com/"/>-->
			</service>
		</ipp>
	</intuit>
	<system.web>
		<!--<roleManager defaultProvider="userRoleProvider" enabled="true" >
      <providers>
        <clear/>
        <add name="userRoleProvider" type="PMS.Common.Filters.UserRoleProvider"/>
      </providers>
    </roleManager>-->
		<customErrors mode="Off" />
		<!--<authentication mode="None" />-->
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login" timeout="1440" />
		</authentication>
		<sessionState timeout="1440" />
		<compilation debug="true" targetFramework="4.7.2">
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</buildProviders>
			<assemblies>
				<add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.7.2" executionTimeout="108000" maxRequestLength="1073741824" />
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
		</httpHandlers>
	</system.web>
	<!--<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483644" />
			</webServices>
		</scripting>
	</system.web.extensions>-->
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
		<modules>
			<remove name="FormsAuthentication" />
			<add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
		</modules>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Ninject.Web.Common" publicKeyToken="c7192dc5380945e7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.2.0" newVersion="3.3.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Configuration.ConfigurationManager" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.14.0" newVersion="8.0.14.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.71.0.0" newVersion="1.71.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.71.0.0" newVersion="1.71.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.71.0.0" newVersion="1.71.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.11.1.0" newVersion="4.11.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Api.Gax.Rest" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.11.1.0" newVersion="4.11.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>